@model List<HorousCore.Models.InventoryItem>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>HorusCore Inventory</title>
</head>

<body>
    <h1 class="text-center">Inventory</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <table class="table table-dark mb-0">
                    <thead style="background-color: #393939;">
                        <tr class="text-uppercase text-success">
                            <th>Inventory Id</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.InventoryId</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>